@import './variables';

@mixin buttonMain($width) {
  background: $primary-color;
  font-family: $nunito-family;
  color: $font-color_main;
  font-size: size('regular');
  border: none;
  border-radius: 80px;
  width: $width;
  height: 34px;

  &:hover {
    background: $btn-hover;
  }

  &:disabled {
    background: $btn-disabled;
    color: #fff;
  }
}

@mixin fontPotoField($loaded-color) {
  color: $loaded-color;
  font-size: size('regular');
}

@mixin textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: $nunito-family;
}
