$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$font-color_main: #000;
$font-color_secondary: #fff;
$font-color_darkgray: #7e7e7e;

$btn-hover: #ffe302;
$btn-disabled: #b4b4b4;

$form-border_light: #d0cfcf;
$font-color_loaded: #000;
$font-color_notloaded: #7e7e7e;

$error-color: #cb3d40;

$max-width_main: 1170px;

$nunito-family: 'Nunito', sans-serif;

$font-sizes: (
  'xl': 40px,
  'regular': 16px,
  'xs': 14px,
);

@function size($font-size) {
  @return map-get($font-sizes, $font-size);
}

$screen-sizes: (
  'x-large': 1170px,
  'large': 1024px,
  'medium': 768px,
  'medium-s': 500px,
  'small': 360px,
);

@function screen-size($screen-size) {
  @return map-get($screen-sizes, $screen-size);
}
